h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 {
    font-size: 4.2rem;
    line-height: 4.62rem;
    margin: 2.1rem 0 1.68rem 0;
}

h2 {
    font-size: 3.56rem;
    line-height: 3.916rem;
    margin: 1.78rem 0 1.424rem 0;
}

h3 {
    font-size: 2.92rem;
    line-height: 3.212rem;
    margin: 1.46rem 0 1.168rem 0;
}

h4 {
    font-size: 2.28rem;
    line-height: 2.508rem;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 0.5rem 0 0.4rem 0;
}



/* Overrides from GWT Clean theme */

/*@external .gwt-PopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel;*/
/*@external .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel;*/
/*@external .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel;*/
/*@external .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-DecoratedPopupPanel, .gwt-PopupPanelGlass;*/

.gwt-PopupPanel {
    border: 3px solid #e7e7e7;
    padding: 3px;
    background: white;
}

.gwt-DecoratedPopupPanel .popupContent {
}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
    padding: 3px;
    background: #f1f1f1;
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    background: url(images/hborder.png) 0px -2937px repeat-x;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    background:  url(images/hborder.png) repeat-x 0px -2938px;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    background: url(images/vborder.png) -21px 0px repeat-y;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    background: url(images/vborder.png) repeat-y -24px 0px;
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
    width: 6px;
    height: 5px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
    width: 6px;
    height: 5px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
    width: 6px;
    height: 6px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
    width: 6px;
    height: 6px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
    background: url(images/circles.png) no-repeat 0px -16px;
}
.gwt-DecoratedPopupPanel .popupTopRight {
    background: url(images/circles.png) no-repeat -6px -16px;
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
    background: url(images/circles.png) no-repeat 0px -21px;
}
.gwt-DecoratedPopupPanel .popupBottomRight {
    background: url(images/circles.png) no-repeat -6px -21px;
}

.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.paper-slider {
    width: 100%;
}

.slider paper-slider::shadow #sliderKnobInner,
.slider paper-slider::shadow #sliderBar::shadow #activeProgress {
    background-color: #0088ce;
}
